    <div class="container">
        
        <form>
          <div class="form-group">
            <label for="name">Miles</label>
            <input type="text" class="form-control" id="miles" name="miles">
          </div>
          <p id='mi-to-ki'>{{clickMessage}}</p>
          <div class="form-group">
            <label for="alterEgo">Kilometers</label>
            <input type="text" class="form-control" id="Kilometers" name="kilometers">
          </div>
          <p id='ki-to-mi'>{{clickMessage1}}</p>
          <button type="submit" class="btn btn-default" (click)="onClickMe()">Submit</button>
        </form>
    </div>